@using WebAppMVCLesson1.NewAdmin.Modals;
@model List<TeamWork>

 <div>
     <h1>Teams</h1>
     <table>
         <tr>
             <td>Id</td>
             <td>FirstName</td>
             <td>ModdleName</td>
             <td>LastName</td>
             <td>AboutWork</td>
             <td>CreateDate</td>
             <td>Autor</td>
             <td>LinkedIn</td>
             <td>Instagram</td>
             <td>FaceBook</td>
             <td>Status</td>
             <td>Photo</td>
             <td>JobPosition</td>
         </tr>
         @foreach (TeamWork item in Model)
        {
            <td>@item.Id</td>
            <td>@item.FirstName</td>
            <td>@item.ModdleName</td>
            <td>@item.LastName</td>
            <td>@item.AboutWork</td>
            <td>@string.Format("{0:dd.MM.yyyy}",item.CreatedDate)</td>
            <td>@item.Autor</td>
            <td>@item.LinkedIn</td>
            <td>@item.Instagram</td>
            <td>@item.FaceBook</td>
            <td>@item.Status</td>
            <td>@if (item.Status)
                {
                    <span>Active</span>
                }
                else
                {
                    <span>InActive</span>
                }
            </td>
            <td>@if(!string.IsNullOrWhiteSpace(item.Photo))
                {
                    <img alt="@item.FirstName" src="@item.Photo"></img>
                }
            </td>
            <td>JobPosition</td>
        }

     </table>
 </div>
 <hr />
 <a asp-action="AddTeam" asp-controller="Team">Add Team</a>
